<!-- Logo -->
<a href="#" class="app-brand-link w-100 d-flex justify-content-center">
    <span class="app-brand-logo demo">
        <img src="~/assets/img/doclogo.jpeg"
             alt="building-img"
             class="d-block rounded"
             height="40"
             width="40"
             id="Logo-pic" />
    </span>
    <span class="app-brand-text demo menu-text fw-bolder ms-2 text-uppercase" style="color:#5f61e6; font-family: 'Trebuchet MS', sans-serif;">Doc Appoint</span>
</a>
<!-- /Logo -->