@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3"><span class="text-muted fw-light">Dashboard </span></h4>

    <partial name="_Alerts" />

    <div class="row">
        <div class="col-md-1"></div>
        <!-- Contact links-->
        <div class="col-md-10">
            <div class="card mb-4">
                <div class="card-body">
                    <!--Description-->
                    <h4>Welcome to the <span class="text-primary">Doctor Appointment System</span> website!</h4>
                    <p>
                        You can get doctor's apointment easily when ever you want.<br />
                        If you are new to the Website please register first and login to continue.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>
